/Densenet201/model_saves/*
/InceptionV3/model_saves/*
/StackedModel/model_saves/*
/kvasir-dataset-v2/Extracted/*
/kvasir-dataset-v2/kvasir-dataset-v2/*
/kvasir-dataset-v2/test/*
/kvasir-dataset-v2/validate/*
/kvasir-dataset-v2/train/*